<div class="system-footer">
  <%= render(ContainerComponent.new()) do %>
    <div class="system-footer__content">
      <div class="system-footer__left">
        Â© Moments <%= Date.current.year %>
      </div>
      <div class="system-footer__right">
        <%= link_to "âš™ï¸ Settings", edit_user_registration_path %>
        <%= link_to "ðŸ‘‹ Logout", destroy_user_session_path, method: :delete %>
        <%= content %>
      </div>
    </div>
  <% end %>
</div>