<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @moment.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @moment.description %>
</p>

<p>
  <strong>Date:</strong>
  <%= @moment.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @moment.user_id %>
</p>

<%= link_to 'Edit', edit_moment_path(@moment) %> |
<%= link_to 'Back', moments_path %>
